* {
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 186, 180);
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 1100px;
    height: 100vh;
    background-color: rgb(248, 246, 241);
}

.title {
    text-align: center;
    color: rgb(160, 138, 107);
    width: 100vh;
    margin-bottom: 30px;
    font-size: 80px;
    text-shadow: 2px 2px 5px rgb(65, 65, 65);
}

.gameWindow {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    height: 600px;
    width: 600px;
    background-color: aliceblue;
    border: 7px solid rgb(160, 138, 107);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(65, 65, 65);
}

.square {
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgb(41, 20, 1);
    opacity: 0.1;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 300px;
    padding-top: 4px;
    height: 600px;
    width: 300px;
}

.button {
    background-color: rgb(160, 138, 107);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    border-radius: 5px;
    width: 250px;
    border: 3px solid rgb(160, 138, 107);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(65, 65, 65);
    /* text-shadow: 2px 2px 5px rgb(8, 8, 8); */
    color: rgb(245, 244, 243);
}

.pressed {
    color: rgb(160, 138, 107);
    background-color: rgb(245, 244, 243);
    border: 3px solid rgb(245, 244, 243);
}

.credits {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
    width: 100vh;
    background-color: inherit;
}

.link {
    padding-top: 5px;
    padding-left: 3px;
    color: black;
}